<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/profile.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>

<body>

    {{> navbar}}

    <h1>Welcome {{name}} to Quora</h1>

    <br>
    <br>

    <div class="postContainer">
        <div class="allposts">
            {{#each data as |d|}}
            <div class="singlePost">
                {{!-- <img class="imgtitle" src="https://global-uploads.webflow.com/6185b708a2657014268d2eaf/62049578136dcd801bb72745_quora-featured-image-2.png" alt=""> --}}
                <div class="title">{{d.title}}</div>
                <div><img class="postImg" src="{{d.imageUrl}}" alt="This is data image"></div>
                {{!-- <div>Likes</div> --}}
                <div class="description">{{d.description}}</div>
                <h3 class="commentHeading">Comments</h3>

                <form action="/posts/addcomment" method="POST" class="form">
                    <input type="text" placeholder="Enter New Comment" name="comment" class="inp" value="{{d._id}}">
                    <input type="hidden" name="id" value="{{d._id}}" id="postId"><br>
                    <button type="submit">Add Comment</button>
                </form>

                <div class="commentList">
                    {{#each d.comments as |da|}}
                    <div>{{da}}</div>
                    {{/each}}
                </div>
            </div>

            <br>

            {{/each}}
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>